.outer_container {
    width: 1122px;
    height: 421px;
    top: 470px;
    left: 159px;
    gap: 36px;

    /* background-color: blue; */

    position: absolute;
    display: flex;
    z-index: 1;
}

.product {
    width: 350px;
    height: 420px;
    padding: 0px 0px 6px 0px;
    border-radius: 8px 0px 0px 0px;

}

.info_container {
    width: 231px;
    height: 321px;
    top: 46px;
    left: 60px;
    gap: 16px;

    position: absolute;
}


.info_slide {
    background: #EEF7FB;
    width: 350px;
    height: 420px;
    padding: 0px 0px 6px 0px;
    border-radius: 8px;

}

.res_title {
    width: 165px;
    height: 19px;
    font-family: Grange;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;


}

.res_text {
    width: 231px;
    height: 286px;
    
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    margin-top: 16px;

}

.info_container {
    background-color: transparent;
}

.product_image {
    width: 350px;
    height: 345px;
    border-radius: 8px 0px 0px 0px;

}

.title_price {
    width: 350px;
    height: 57px;
    gap: 6px;
    display: inline-block;
    margin-top: 12px;
}

.title {
    width: 350px;
    height: 25.5px;
    font-family: Grange;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;
}

.price {
    margin-top: 6px;
    width: 350px;
    height: 25.5px;
    
    font-family: Grange;
    font-size: 18px;
    font-weight: 500;
    line-height: 19.8px;
    text-align: center;

}

.next_icon {
    width: 60.06px;
    height: 60.06px;
    top: 670px;
    left: 1310px;
    border-radius: 30.03px;
    position: absolute;
    
    background: #EEF7FB;

}

.frame {
    width: 16.01px;
    height: 16.02px;
    top: 22.02px;
    left: 22.02px;
    position: absolute;
    
}

.the_icon {
    width: 9.61px;
    height: 16.02px;
    top: 16.02px;
    left: 14.41px;
    border: 0.16px;
    

}

.ellipse_container {
    background-color: blue;

    width: 43px;
    height: 9px;
    top: 923px;
    left: 699px;
    gap: 8px;
    position: absolute;
    display: flex;

}

.ellipse {
    width: 9px;
    height: 9px;
    background-color: beige;
    border-radius: 50% / 100%;

    /* position: absolute; */

}