body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  /* width: 100%; */
}


.container {
  /* width: 100%; */
  width: 786px;
  height: 244px;
  position: absolute;
  top: 352px;
  left: 327px;
  /* display: inline-flex; */
}

.question {
  width: 583px;
  height: 88px;
  left: 102px;
  position: relative;
  margin-bottom: 16px;
  /* background-color: brown; */
  font-family: Grange;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  text-align: center;
}

.answers-container {
  width: 786px;
  height: 44px;
  top: 120px;
  /* position: relative; */
  gap: 10px;
  justify-content: center;
  /* display: inline-flex; */
  width: fit-content;



  display: flex;
  flex-wrap: wrap;
  max-width: 985px;
}


.answer {
  border-radius: 8px;
  border: 1px solid #5bc1ed;
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
  min-width: 189px;
  height: 44px;
  text-align: left;
  /* max-width: 928px; */
}

.answer:hover {
  background-color: #e0f7ff;
}

.answer-text {
  white-space: nowrap;
}

/* .answer {
  width: 189px;
  height: 44px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #5bc1ed;
  display: flex;
  justify-content: center;
  padding: 14px 40px 14px 20px;
  align-items: center;
} */

.answer-text {
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  width: 129px;
  height: 16px;
  text-align: left;
  /* margin-left: 8px; */
  margin: 9px auto;
}

.next-back {
  width: 244px;
  height: 48px;
  top: 196px;
  left: 271px;
  gap: 20px;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 20px; */
}

.button-next {
  width: 189px;
  height: 48px;
  padding: 14px 40px 14px 40px;
  gap: 8px;
  border-radius: 8px;
  display: flex;
  /* margin-left: 100%; */
  background: #c3edff;
}

.button-text {
  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.49px;
  text-align: center;
  width: 98px;
  display: flex;
  height: 19px;
}

.arrow-icon {
  width: 20px;
  height: 20px;
}

.arrow {
  width: 14.14px;
  height: 14.14px;
  top: -0px;
  left: 10px;
  gap: 0px;
  opacity: 0px;
  /* angle: -45 deg; */

}

.back-link {
  width: 35px;
  height: 19px;
  gap: 8px;
  border-radius: 8px;

  font-family: Proxima Nova;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.49px;
  text-align: center;
  color: #677487;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
